<div class="card text-center text-dark mt-5">
    <div class="form">
        <h2 class="card-header p-2 mb-5">Registration Form</h2>
        <div class="card-body">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate class="text-light">
                <div class="form-row d-flex justify-content-center mb-3 pt-3">
                    <div class="form-group col-sm-1 col-11 m-1">
                        <select formControlName="title" class="form-control p-2"
                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" required>
                            <option value=""></option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>
                        </select>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required" class="err">Title is required</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-5 col-6 m-1">
                        <input type="text" placeholder="First Name" formControlName="firstName" class="form-control p-2"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required" class="err">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-5 col-6 m-1">
                        <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control p-2"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required" class="err">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center mb-3">
                    <div class="form-group col-5 m-2 p-2">
                        <input type="email" placeholder="Email" formControlName="email" class="form-control p-2"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required pattern>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required" class="err">Email is required</div>
                            <div *ngIf="f.email.errors.email" class="err">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group col-5 m-2 p-2">
                        <input type="tel" id="pnumber" placeholder="Phone Number" formControlName="tel"
                            class="form-control p-2" [ngClass]="{'is-invalid': submitted && f.tel.errors }" required
                            pattern>
                        <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                            <div *ngIf="f.tel.errors.required" class="err">Phone Number is required</div>
                            <div *ngIf="f.tel.errors.pattern" class="err">Phone Number in Number</div>
                        </div>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center mb-3">
                    <div class="form-group col-5 m-2 p-2">
                        <input type="password" placeholder="Password" formControlName="password"
                            class="form-control p-2" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            required>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="err">Password is required</div>
                            <div *ngIf="f.password.errors.minlength" class="err">Password must be at least 8 characters
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-5 m-2 p-2">
                        <input type="password" placeholder="Re-type Password" formControlName="confirmPassword"
                            class="form-control p-2" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                            required>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required" class="err">Confirm Password is required
                            </div>
                            <div *ngIf="f.confirmPassword.errors['mustMatch']" class="err">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input p-2"
                        [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
                    <label for="checkbox">I accept terms and conditions.</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback err">Accept Ts & Cs is
                        required
                    </div>
                </div>
                <div class="button d-flex justify-content-center">
                    <button class="btn btn-primary p-2 m-1 mb-3">Register</button>
                    <button class="btn btn-secondary p-2 m-1 mb-3" type="reset" (click)="onReset()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>